[Unit]
Description= Create reverse tunnel from LRM_BBG to remote sbb vServer. Port forwarded localhost:22 -> remoteSBB:2211
After=network.target

[Service]
User=debian
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o ExitOnForwardFailure=yes  -o ServerAliveInterval=30 -o ServerAliveCountMax=3 -N -R 2211:localhost:22  remoteSBB

RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
